In [1]:
import pandas as pd
import numpy as np

In [46]:
data= pd.read_csv('Henan/brff_prevalence.csv')
data.head()

,Year,State,Smoke everyday,Smoke some days,Former smoker,Never smoked,Location 1
0,2011,"Nationwide (States, DC, and Territories)",15.4,5.7,25.0,52.9,NaN
1,2011,Wisconsin,14.9,6.0,26.2,52.9,"Wisconsin\n(44.39319000021851, -89.81636999977..."
2,2011,Nevada,18.0,4.9,24.6,52.5,"Nevada\n(39.49323999972637, -117.07183999971608)"
3,2011,South Dakota,15.5,7.6,25.5,51.5,"South Dakota\n(44.353130000049646, -100.373530..."
4,2011,Idaho,12.4,4.8,24.4,58.5,"Idaho\n(43.682590000228515, -114.36368000023168)"

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             55 non-null     int64
 1   State            55 non-null     object
 2   Smoke everyday   55 non-null     float64
 3   Smoke some days  55 non-null     float64
 4   Former smoker    55 non-null     float64
 5   Never smoked     55 non-null     float64
 6   Location 1       51 non-null     object
dtypes: float64(4), int64(1), object(2)
memory usage: 3.1+ KB

In [13]:
 # to_drop ='Location 1'
# data.drop(to_drop, inplace = True, axis =1)
 #del(data['Location 1'])

data.head()

,Year,State,Smoke everyday,Smoke some days,Former smoker,Never smoked
0,2011,"Nationwide (States, DC, and Territories)",15.4,5.7,25.0,52.9
1,2011,Wisconsin,14.9,6.0,26.2,52.9
2,2011,Nevada,18.0,4.9,24.6,52.5
3,2011,South Dakota,15.5,7.6,25.5,51.5
4,2011,Idaho,12.4,4.8,24.4,58.5

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             55 non-null     int64
 1   State            55 non-null     object
 2   Smoke everyday   55 non-null     float64
 3   Smoke some days  55 non-null     float64
 4   Former smoker    55 non-null     float64
 5   Never smoked     55 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 2.7+ KB

In [17]:
data['State'].is_unique # to check for variables with unique values

True

In [ ]:
data.

In [19]:
dd= pd.read_csv('Henan/percent.csv')
dd.head()

,Years,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Percent of adults with depression (%),0.175,0.18,0.187,0.19,0.19,0.174,0.205,0.196000,0.199000,0.196000
1,By Race/Ethnicity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"American Indian or Alaskan Native, non...",NaN,NaN,NaN,NaN,0.267461538461538,0.280121212121212,0.2825625,0.263706,0.263667,0.267958
3,"Asian, non-Hispanic (%)",NaN,NaN,NaN,NaN,0.075111111111111,0.0851,0.107666666666667,0.100733,0.079778,0.097750
4,"Black, non-Hispanic (%)",0.146,0.156153846153846,0.161868421052632,0.1674,0.163512820512821,0.155054054054054,0.17355,0.175600,0.164763,0.169550

In [20]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Years   116 non-null    object
 1   2011    111 non-null    object
 2   2012    111 non-null    object
 3   2013    110 non-null    object
 4   2014    111 non-null    object
 5   2015    112 non-null    object
 6   2016    113 non-null    object
 7   2017    113 non-null    object
 8   2018    112 non-null    float64
 9   2019    110 non-null    float64
 10  2020    111 non-null    float64
dtypes: float64(3), object(8)
memory usage: 10.3+ KB

In [24]:
 #  dd.drop('Years', inplace = True, axis =1) # drops the Years column in the dd

In [25]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2011    111 non-null    object
 1   2012    111 non-null    object
 2   2013    110 non-null    object
 3   2014    111 non-null    object
 4   2015    112 non-null    object
 5   2016    113 non-null    object
 6   2017    113 non-null    object
 7   2018    112 non-null    float64
 8   2019    110 non-null    float64
 9   2020    111 non-null    float64
dtypes: float64(3), object(7)
memory usage: 9.3+ KB

In [29]:
data['State'].is_unique

True

### Let us look out for unique columns

In [30]:
data['State'].head(20) # to retieve the first 20 rows of the state variable

0     Nationwide (States, DC, and Territories)
1                                    Wisconsin
2                                       Nevada
3                                 South Dakota
4                                        Idaho
5                                     Nebraska
6                                Massachusetts
7                                   Washington
8                                         Iowa
9                                    Minnesota
10                               New Hampshire
11                                    Colorado
12                  Nationwide (States and DC)
13                                      Kansas
14                                       Maine
15                                    Michigan
16                                  New Jersey
17                                    Maryland
18                                   Tennessee
19                                     Georgia
Name: State, dtype: object

### the state column is unique. Let us use it as our index for easy search

In [36]:
data =data.set_index('State')

### Let us now access records using the defined index

In [37]:
data.loc['North Carolina']

Year               2011.0
Smoke everyday       15.6
Smoke some days       6.2
Former smoker        24.8
Never smoked         53.4
Name: North Carolina, dtype: float64

In [45]:
data['Year'].dtype # to know the data type of the Year variable

dtype('int64')